* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 10);
    font-family: "League Spartan", sans-serif;
    /* left: 60px; */
}

.hero {
    background-image:
        linear-gradient(to right,
            black 0%,
            black 36%,
            rgba(50, 50, 50, 0.2) 36%,
            rgba(50, 50, 50, 0.2) 100%),
        url("./images/homepage/hero-bg-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-header {
    display: flex;
    flex-direction: column;
    padding: 65px 0px 198px 167px;
    gap: 153px;
}

.logo {
    display: flex;
    width: 103px;
    height: 40px;
}

.hero-content {
    color: white;

    h1 {
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
        width: 508px;
        letter-spacing: -1px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        width: 445px;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 248px;
        height: 64px;
        border: 1px solid #FFFFFF;
        font-size: 17px;
        font-weight: 600;
        line-height: .95;
        letter-spacing: 2.5px;
    }

}

.highlights {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.highlight-items {
    display: flex;
    gap: 125px;
    padding-top: 200px;
    padding-left: 165px;
    padding-right: 165px;
    background-image: url(./images/patterns/pattern-curve-top-right.svg);
    background-repeat: no-repeat;
    background-position: 0px 280px;
    width: 895px;
}

.highlight-image {
    margin-top: -256px;
}

.highlight-content {
    h2 {
        font-size: 48px;
        font-weight: 700;
        margin-top: 48px;
        width: 445px;
        line-height: 1;
        letter-spacing: -0.5px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        width: 445px;
        line-height: 1.5;
        margin-top: 24px;
    }

}

.highlight-items-reversed {
    background-image: url(./images/patterns/pattern-curve-top-left.svg);
    background-repeat: no-repeat;
    width: 895px;
    background-position: 550px 320px;
}

.item-two {
    display: flex;
    margin-bottom: -76px;
}

.divide-lines {
    margin-top: 320px;
    margin-left: -30px;
}

.test {
    color: white;
    font-family: "League Spartan", sans-serif;
}

.test-two-sections {
    display: flex;
    flex-direction: column;
    padding: 200px 165px 120px 165px;
    gap: 48px;
}
.minus-image {
        display: flex;
        width: 72px;
        height: 7px;
    }

.test-monials {
    display: flex;
    gap: 125px;
}

.test-left-content {
    width: 445px;
    height: 210px;

    h5 {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.5px;
        font-style: normal;
        width: 445px;
    }

    p {
        width: 445px;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        font-style: normal;
    }
}

.test-images {
    display: flex;
    flex-direction: column;

}

.top-image {
    display: flex;
    margin-bottom: 24px;
    border-bottom: 2px solid #303030;

    img {
        display: flex;
        width: 128px;
        height: 96px;
        margin-bottom: 24px;
    }
}

.test-content-heading {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;

    img {
        display: flex;
        width: 32px;
        height: 1px;
        margin-left: -2px;
    }

    h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.25px;
    }
}

.test-content {
    p {
        display: flex;
        margin-left: 62px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 162.5%;
        letter-spacing: -0.25px;
    }
}

.bottom-image {
    display: flex;
    margin-bottom: 24px;
}

.choco-image {
    display: flex;
        width: 128px;
        height: 96px;
}
.test-content1 {
    p {
        display: flex;
        margin-left: 62px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 162.5%;
        letter-spacing: -0.25px;
    }
}